@font-face {
    font-family: Poppins; src: url("Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins_bold; src: url("Poppins-Bold.ttf");
}

@font-face {
    font-family: Montserrat; src: url("Montserrat Regular 400.ttf");
}

@font-face {
    font-family: Montserrat_extralight; src: url("Montserrat ExtraLight 275.ttf");
}

@font-face {
    font-family: Poppins_semibold; src:url("Poppins-SemiBold.ttf");

}

@font-face {
    font-family: Montserrat_bold; src: url("Montserrat Bold 700.ttf");
}

html,body
{
    right: 0;
    margin: 0;
}

.genEventButt {
    border-radius: 45px;
    font-family: Poppins_bold;
    font-size: 36px;
    background-color: #666565;
    color: #f2f2f2;
    transition-duration: 0.4s;
    width: 550px;
    height: 65px;
    border-color: #666565;
    border-style: none;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 320px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.genEventButt:hover {
    background-color: #333333;
    color: #F9D36D;
}

.footer {
    list-style-type: none;
    padding: 10px;
    width: 100.5%;
    background-color: #2f2f2f;
    position: relative;
    bottom: 0;
    left: -10px;
    right: 0;
    height: 17%;
}

.genButt {
    border-radius: 23px;
    font-family: Poppins_bold;
    font-size: 30px;
    background-color: #666565;
    color: #f2f2f2;
    transition-duration: 0.4s;
    width: 280px;
    height: 83px;
    border-color: #666565;
    border-style: none;
    cursor: pointer;
    margin-top: 0%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);

}

.genButt:hover {
    background-color: #333333;
    color: #F9D36D;
}

.learnButt {
    border-radius: 31px;
    font-family: Poppins_semibold;
    font-size: 45px;
    background-color: #FFC31D;
    color:#f2f2f2;
    transition-duration: 0.4s;
    width: 553px;
    height: 87px;
    border-color:#FFC31D;
    border-style: none;
    cursor: pointer;
    margin-top: 0%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.learnButt:hover {
    background-color: #F9D36D;
    color:#333333
}

.leftBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 2.3%;
    background-color: #ffc31d;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    box-shadow:0 6px 18px 0 rgba(0, 0, 0, 0.3), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

.topBlock {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 97.69%;
    background-color: #333333;
    position: fixed;
    top: 0;
    right: 0;
    height: 0.7%;
    transition: top 0.3s;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 97.69%;
    background-color: #413D3D;
    position: absolute;
    top: 7px;
    right: 0;
    height: 4.7%;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.3);
    transition: top 0.3s;
}

.navBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    font-family: Poppins;
    text-shadow: 1.5px 3.8px 3px #000000;
    letter-spacing: 0.5px;
    border-right: 2% solid #333333;
}

.navBar a:hover {
    background-color: #333333;
    color: #FFC31D;

}

.container1 {
    width: 100%;
    height: auto;
    right: 0;
    margin: 0;
    padding: 0;
}

.column {
    float: left;
    width: 45%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.textEvent {
    width: 850px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin-left: 2%;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}

.passwordEvent {
    width: 850px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin-left: -3%;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}

.footerfont {
    color:#f2f2f2;
    font-family: Montserrat_bold;
    font-weight: bolder;
    font-size: 22px ;
}

.label {
    list-style-type: none;
    padding-bottom: 0;
    width: 250px;
    background-color: #FFC31D;
    position: absolute;
    margin-top: 100px;
    height: 75px;
    border-radius: 30px;
    font-family: Montserrat_bold;
    text-align: center;
}

.dropdown {
    list-style-type: none;
    width: 300px;
    background-color: #333333;
    position: absolute;
    margin-top: 200px;
    margin-bottom: 300px;
    height: 50px;
    border-radius: 10px;
    font-family: Montserrat_bold;
    text-align: left;
}

.genButtSign {
    border-radius: 45px;
    font-family: Poppins_bold;
    font-size: 30px;
    background-color: #666565;
    color: #f2f2f2;
    transition-duration: 0.4s;
    width: 273px;
    height: 76px;
    border-color: #666565;
    border-style: none;
    cursor: pointer;
    margin-left: 22%;
    margin-top: 15%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.genButtSign:hover {
    background-color: #333333;
    color: #F9D36D;
}

.text {
    width: 850px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin-left: -5%;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}

.password {
    width: 850px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin-left: -5%;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}

.calendar {
    font-family: Poppins_bold;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 2px #ccc;
    bottom: 0;
}

table.days {
    text-align: center;
    font-size: large;
    margin-top: 15px;
    margin: 15px;
    table-layout: fixed;

}

table.days th{
    color: black;
    padding: 20px;
    min-width: 73px;
    max-width: 73px;
}

table.days td{
    cursor: pointer;
    user-select: none;
    padding: 20px;
    
}

table.days td.month, table.days td.blank{
    padding: 20px;
    cursor: default;
    user-select: none;
}

.yellow{
    background-color:#F9D36D;
}

.white{
    background-color: white;
}

.yellow-expand {
    background-color:#F9D36D;
}

.white-expand {
    background-color: white;
}

.time-button {
    display: inline-block;
    background-color: white;
    font-family: Poppins_bold;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    font-size: x-large;
    width: 200px;
    height: 40px;
}


.time-stack{
    background-color: #F9D36D; 
    font-family: Poppins;
    outline-style: solid;
    outline-color: black;
    outline-width: medium;
    border-radius: 30px; 
    width: 800px; 
    margin-top: 40%;
    height: 530px;
    text-align: center;
    box-shadow: 5px 8px 5px 0 rgba(0, 0, 0, .4);
}

.time-container{
    font-family: Poppins;
    visibility: hidden;
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    width: 800px; 
    height: 480px;
    overflow-y: auto;
}

.time-container::-webkit-scrollbar{
    width: 8px;
}

.time-container::-webkit-scrollbar-track{
    background-color:  #F9D36D;
    border-radius: 20px;
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.time-container::-webkit-scrollbar-thumb{
    background-color: #413D3D;
    border-radius: 20px;
}

.hidden {
    display: none;
}

.time-row{
    margin-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.name-container{
    display: inline-block;
    width: 400px;
    height: 31px;
    margin-left: 4%;
    padding-left: 20px;
    font-family: Poppins_bold;
    text-align: center;
    outline-style: solid;
    outline-color: black;
    outline-width: thin;
    background-color: white;
    border-radius: 5px;
    vertical-align:top;
    margin-top: 5px;
    padding-top: 3px;
}

.meeting_details{
    margin-left: 10%;
    width: 690px;
    height: 300px;
    border-radius: 5px;
}

.lockButt{
    margin-top: 8%;
    margin-left: 30%;
    font-family: Poppins_bold;
    border-radius: 20px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    border-color: #666565;
    background-color: #666565;
    color: #f2f2f2;
    font-size: 30px;
    height: 76px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.lockButt:hover {
    background-color: #333333;
    color: #F9D36D;
}


.time {
    display: inline-block;
    background-color: white;
    font-family: Poppins_bold;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    font-size: x-large;
    width: 300px;
    height: 40px;
    outline-style: solid;
    outline-color: black;
    text-align: center;
    outline-width: thin;
    margin-left: -30px;
    margin-right: 60px;
    padding-top: 3px;
}

.bookButt {
    background-color: white;
    font-family: Poppins_bold;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    font-size: large;
    height: 40px;
    width: 200px;
}

.bookButt:hover {
    background-color: #333333;
    color: #F2F2F2;
}

.text-invitee {
    width: 600px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}

.login-stack{
    position: relative;
    background-color: #F9D36D; 
    outline-style: solid;
    outline-color: black;
    outline-width: medium;
    border-radius: 30px; 
    width: 800px; 
    margin-top: 40%;
    height: 530px;
    text-align: center;
    align-items: center;
    box-shadow: 5px 8px 5px 0 rgba(0, 0, 0, .4);
    font-family: Poppins;
    font-size: small;
}

.invitee-message{
    width: 600px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    outline-style: solid;
    outline-width: 1px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin: 0 auto;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
    margin-top: 20px;
    height: 320px;
}

.back-button{
    top: 10px;
    left: 13px;
    font-family: Poppins_bold;
    border-radius: 20px;
    border-color: #333333;
    background-color: #333333;
    color: #f2f2f2;
    font-size: 14.5px;
    width: 80px;
    height: 35px;
    position: absolute;
}

.back-button:active {
    background-color: #333333;
    color: #ffc31d;
}

.popup-event {
    position: absolute;
    margin-left: -130px;
    margin-top: -110px;
    --t: 30px;
    --r: 25px;
    --_d: 0%;
    padding: calc(2*var(--r)/3);
    -webkit-mask: radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
    max-width: 300px;
    background: linear-gradient(135deg,#ffc31d,#F9D36D) border-box;
    border-left: var(--t) solid #0000;
    place-self: start;
}

.popup-inviter {
    position: absolute;
    font-family: Poppins_bold;
    margin-left: -100px;
    margin-top: -10px;
    --t: 30px;
    --r: 25px;
    --_d: 100%;
    padding: calc(2*var(--r)/3);
    -webkit-mask: radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
    min-width: 300px;
    max-width: 300px;
    background: linear-gradient(135deg,#ffc31d,#F9D36D) border-box;
    border-right: var(--t) solid #0000;
    place-self: end;
}

.popup-invitee {
    position: absolute;
    font-family: Poppins_bold;
    margin-top: 100px;
    margin-left: 450px;
    --t: 30px;
    --r: 25px;
    --_d: 100%;
    padding: calc(2*var(--r)/3);
    -webkit-mask: radial-gradient(var(--t) at var(--_d) 0,#0000 98%,#000 102%) 
      var(--_d) 100%/calc(100% - var(--r)) var(--t) no-repeat,
    conic-gradient(at var(--r) var(--r),#000 75%,#0000 0) 
      calc(var(--r)/-2) calc(var(--r)/-2) padding-box, 
    radial-gradient(50% 50%,#000 98%,#0000 101%) 
      0 0/var(--r) var(--r) space padding-box;
    min-width: 300px;
    max-width: 300px;
    background: linear-gradient(135deg,#ffc31d,#F9D36D) border-box;
    border-right: var(--t) solid #0000;
    place-self: end;
}

.errorlist {
    font-family: Poppins_bold;
}

.wrapper {
    list-style: none;
    display: inline-flex;
}

.wrapper .icon {
    position: relative;
    background: #F9D36D;
    color: #F2f2f2;
    border-radius: 50%;
    padding: 15px;
    margin-left: 255px;
    margin-bottom: -22px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    display: flex;
    font-family: Poppins;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

.wrapper .tooltip {
    position: absolute;
    top: 0px;
    font-size: 14px;
    background: #F9D36D;
    color: #F2f2f2;
    width: 250px;
    padding: 7px 10px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
.wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #F9D36D;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
.wrapper .icon:hover .tooltip {
    top: -63px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }

.wrapper .question:hover,
.wrapper .question:hover .tooltip,
.wrapper .question:hover .tooltip::before {
  background: #333333;
  color: #ffc31d
}

@media screen and (max-width: 1680px) and (max-height: 1050px) {
    html {
        zoom: 90%;
    }
    
}

@media screen and (max-width: 1600px) and (max-height: 900px) {
    html {
        zoom: 80%;
    }
    
}

@media screen and (max-width: 1440px) and (max-height: 900px) {
    html {
        zoom: 80%;
    }
    
}

@media screen and (max-width: 1400px) and (max-height: 1050px) {
    html {
        zoom: 80%;
    }
    
}

@media screen and (max-width: 1366px) and (max-height:768px) {
    html {
        zoom: 75%;
    }
    
}

@media screen and (max-width: 1360px) and (max-height: 768px) {
    html {
        zoom: 67%;
    }
    
} 

@media screen and (max-width: 1280px) and (max-height: 1024px) {
    html {
        zoom: 67%;
    }
    
}

@media screen and (max-width: 1280px) and (max-height: 960px) {
    html {
        zoom: 67%;
    }
    
}

@media screen and (max-width: 1280px) and (max-height: 800px) {
    html {
        zoom: 67%;
    }
    
}

@media screen and (max-width: 1280px) and (max-height: 768px) {
    html {
        zoom: 67%;
    }
    
}

@media screen and (max-width: 1280px) and (max-height: 720px) {
    html {
        zoom: 67%;
    }
    
}

@media screen and (max-width: 1280px) and (max-height: 600px) {
    html {
        zoom: 67%;
    }
    
}

@media screen and (max-width: 1152px) and (max-height: 864px) {
    html {
        zoom: 55%;
    }
    
}

@media screen and (max-width: 1024px) and (max-height: 768px) {
    html {
        zoom: 50%;
    }
}

@media screen and (max-width: 800px) and (max-height: 600px) {
    html {
        zoom: 40%;
    }
    
}
