@font-face {
    font-family: Poppins; src: url("Poppins-Regular.ttf");
}

@font-face {
    font-family: Poppins_bold; src: url("Poppins-Bold.ttf");
}

@font-face {
    font-family: Montserrat; src: url("Montserrat Regular 400.ttf");
}

@font-face {
    font-family: Montserrat_extralight; src: url("Montserrat ExtraLight 275.ttf");
}

@font-face {
    font-family: Poppins_semibold; src:url("Poppins-SemiBold.ttf");

}

@font-face {
    font-family: Montserrat_bold; src: url("Montserrat Bold 700.ttf");
}

html,body
{
    right: 0;
    margin-right: 0%;
}

.genEventButt {
    border-radius: 45px;
    font-family: Poppins_bold;
    font-size: 36px;
    background-color: #666565;
    color: #f2f2f2;
    transition-duration: 0.4s;
    width: 550px;
    height: 65px;
    border-color: #666565;
    border-style: none;
    cursor: pointer;
    margin-left: 150px;
    margin-top: 320px;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

.genEventButt:hover {
    background-color: #333333;
    color: #F9D36D;
}

.footer {
    list-style-type: none;
    margin-bottom: 100px;
    margin-top: 100px;
    padding-bottom: 0;
    width: 100%;
    background-color: #2f2f2f;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 17%;
}

.genButt {
    border-radius: 23px;
    font-family: Poppins_bold;
    font-size: 30px;
    background-color: #666565;
    color: #f2f2f2;
    transition-duration: 0.4s;
    width: 280px;
    height: 83px;
    border-color: #666565;
    border-style: none;
    cursor: pointer;
    margin-top: 0%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);

}

.genButt:hover {
    background-color: #333333;
    color: #F9D36D;
}

.learnButt {
    border-radius: 31px;
    font-family: Poppins_semibold;
    font-size: 45px;
    background-color: #FFC31D;
    color:#f2f2f2;
    transition-duration: 0.4s;
    width: 553px;
    height: 87px;
    border-color:#FFC31D;
    border-style: none;
    cursor: pointer;
    margin-top: 0%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.learnButt:hover {
    background-color: #F9D36D;
    color:#333333
}

.leftBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 2.3%;
    background-color: #ffc31d;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow: auto;
    box-shadow:0 6px 18px 0 rgba(0, 0, 0, 0.3), 0 6px 18px 0 rgba(0, 0, 0, 0.19);
}

.topBlock {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 97.69%;
    background-color: #333333;
    position: fixed;
    top: 0;
    right: 0;
    height: 0.7%;
    transition: top 0.3s;
}

.navBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 97.69%;
    background-color: #413D3D;
    position: fixed;
    top: 7px;
    right: 0;
    height: 4.5%;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.3);
    transition: top 0.3s;
}

.navBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 14px;
    text-decoration: none;
    font-size: 19px;
    font-weight: 500;
    font-family: Poppins;
    text-shadow: 1.5px 3.8px 3px #000000;
    letter-spacing: 0.5px;
    border-right: 1.5px solid #333333;
}

.navBar a:hover {
    background-color: #333333;
    color: #FFC31D;

}

.container1 {
    width: 100%;
    height: auto;
    right: 0;
    margin: 0;
    padding: 0;
}

.column {
    float: left;
    width: 45%;
    padding: 10px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

* {
    box-sizing: border-box;
}

.textEvent {
    width: 850px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin-left: 2%;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}

.passwordEvent {
    width: 850px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin-left: -3%;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}

.footerfont {
    color:#f2f2f2;
    font-family: Montserrat_bold;
    font-weight: bolder;
    font-size: 22px ;
}

.label {
    list-style-type: none;
    padding-bottom: 0;
    width: 250px;
    background-color: #FFC31D;
    position: absolute;
    margin-top: 100px;
    height: 75px;
    border-radius: 30px;
    font-family: Montserrat_bold;
    text-align: center;
}

.dropdown {
    list-style-type: none;
    padding-top: 20px;
    width: 300px;
    background-color: #333333;
    position: absolute;
    margin-top: 200px;
    margin-bottom: 300px;
    height: 50px;
    border-radius: 10px;
    font-family: Montserrat_bold;
    text-align: left;
}

.genButtSign {
    border-radius: 45px;
    font-family: Poppins_bold;
    font-size: 30px;
    background-color: #666565;
    color: #f2f2f2;
    transition-duration: 0.4s;
    width: 273px;
    height: 76px;
    border-color: #666565;
    border-style: none;
    cursor: pointer;
    margin-left: 22%;
    margin-top: 15%;
    box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3);
}

.genButtSign:hover {
    background-color: #333333;
    color: #F9D36D;
}

.text {
    width: 850px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin-left: -5%;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}

.password {
    width: 850px;
    padding: 12px 20px;
    height: 43px;
    box-sizing: border-box;
    display: block;
    border-radius: 8px;
    box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.22);
    margin-left: -5%;
    font-family: Poppins;
    font-size: 25px;
    text-overflow: ellipsis;
}