{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        CS 191 Home Page
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    <div class = "leftBar"></div>

    <div><img style = "margin-right: 0; right: 0px; position: absolute;"  src = "{% static 'rightBorder.png' %}" width="780.35px" height="350.45px"></div> 
    <div style = "text-align: center; padding-bottom: 0; margin: 0; "><img id = "logo" style = "margin: 0; padding: 0;" src = "{% static 'logo.png' %}" width = "710.35px" height = "440.45px"></div>
    {% block content %}
    {% endblock %}      

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class = "topBlock"></div>
        <div class = "navBar">
            <a href="{% url 'home' %}" styles = "transition: top 0.3s"><i class="fa fa-home"></i> Home</a>
            <a href="#"><i class="fa fa-newspaper-o"></i> About Us</a>
            <a href="#"><i class="fa fa-question-circle-o"></i> FAQs</a>
        </div>
    </nav>


</body>
</html>