{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>
        CFScheduler
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">

    {% block stylesheet %}
    {% endblock %}
</head>
<body>
    <div class = "leftBar"></div>

    <div><img style = "margin-right: 0; right: 0px; position: absolute;"  src = "{% static 'rightBorder.png' %}" width="780.35px" height="350.45px"></div> 

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class = "topBlock" style = "z-index: 999;"></div>
        <div class = "navBar" style = "z-index: 999;">
            <a href="{% url 'home' %}" style = "transition: top 0.3s"><i class="fa fa-home"></i> Home</a>
            <a href="#About Us" style = "transition: top 0.3s"><i class="fa fa-newspaper-o"></i> About Us</a>
            <a href="#"><i class="fa fa-question-circle-o"></i> FAQs</a>
        </div>
    </nav>
    {% block content %}
    {% endblock %}      

   

    <div> <!--footer-->
        <div class = "footer">
            <p class = "footerfont" style = "margin-left: 60px; margin-top: 33px;">Terms of Service</p>
            <p class = "footerfont" style = "margin-left: 60px; margin-top: 33px;">Privacy Policy</p>
            <p class = "footerfont" style = "margin-top: -112px; margin-left: 380px;">Contact Us:</p>
            <p style = "color: #f2f2f2; margin-top: -11px; margin-left: 380px; font-family: Montserrat; font-size: 20px;"><i class = "fa fa-envelope"></i> CFScheduler@gmail.com</p>
            <p style = "color: #f2f2f2; margin-top: -11px; margin-left: 380px; font-family: Montserrat; font-size: 20px;"><i class = "fa fa-map-marker" style = "size: 30px;"></i> University of the Philippines, Diliman, Quezon City</p>
            <div style = "left: -10px; list-style-type: none; padding: 0; width: 96%; margin-left: 60px; bottom: 0px; background-color: #f2f2f2; position: relative; height: 5.5px;"></div>
            <p class = "footerfont" style = "margin-top: 10px; margin-left: 60px;"><i class = "fa fa-copyright"></i> 2022 CF/Scheduler Team</p>
        </div>
        
    </div>
    

</body>
</html>