
   
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div><img style = "margin-right: 0; right: 0px; position: absolute;"  src = "{% static 'rightBorder.png' %}" width="780.35px" height="350.45px"></div> <!-- triangular border -->



<div class = "row"> <!--textboxes-->
    <div class = "column">
        <img style = "left: -2%; margin-left: 0; padding-left: 0; margin-top: -300px;" src = "{% static 'bookmark-vertical.png'  %}" width = "695.35px" height = "945.35px">
        <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div>
        <div class = "calendar" style = "margin-left: 15%; max-width: 650px;" >
            <div class = "month" style = "text-align: center; padding: 10px;">
                <h2>{{ month }} {{ year }}</h2>
            </div>
            <table class = "days">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Sun</th>
                        <th>
                            Mon</th>
                        <th>
                            Tue</th>
                        <th>
                            Wed</th>
                        <th>
                            Thu</th>
                        <th>
                            Fri</th>
                        <th >
                            Sat</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class = "column">
        <img id = "logo" style = "margin-top: 100px; margin-right: 200px; margin-left: 0;" src = "{% static 'logo.png' %}" width = "710.35px" height = "440.45px">
        <div style = "margin-left: -100px; list-style-type: none; margin-top: 80px; padding: 0; width: 1100px; background-color: #F9D36D; height: 10px; box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.3);"></div>        
        <form action="" method="POST">
            {% csrf_token %}
			{% if form.errors %}
            	<div class = 'popup-event'>{{ form.errors }}</div>
			{% endif %}

            {{ form.event_name }}
            <input class = "textEvent" style= "margin-top: 7%; font-weight: bolder;" name = "fname" value = "Timezone: Asia / Manila" readonly>
            <input class = "textEvent" style= "margin-top: 2%; font-weight: bolder;" name = "fname" value = "Select Event Type: Multiple Inviters" readonly>
            <input class = "textEvent" style= "margin-top: 2%; font-weight: bolder;" name = "fname" value = "Select Email Sender: testemail@cfs.up.com" readonly>
            {{ form.duration }}
            <!-- <input class = "textEvent" style= "margin-top: 2%; font-weight: bolder;" name = "fname" value = "Event Duration: 15 Minutes" readonly> -->
        
            <div class = "label" style = "left: 875px;" ><p style = "font-family: Montserrat_bold; margin-top: 20px; font-size: 30px; color: #413D3D; font-weight: bold;">Start time</p></div>
            <div class = "label" style = "left: 1485px;"><p style = "font-family: Montserrat_bold; margin-top: 20px; font-size: 30px; color: #413D3D; font-weight: bold;">End time</p></div>
            {{ form.start_time }}
            {{ form.end_time }}
            <!-- <div class = "dropdown" style = "left: 853px; margin-bottom: 80px;"><p style = "font-family: Poppins; font-size: 30px; font-weight: bold; color: #f2f2f2; margin-top: -14px; margin-left: 27px;">9:00 AM</p></div>
            <div class = "dropdown" style = "left: 1465px; margin-bottom: 80px;"><p style = "font-family: Poppins; font-size: 30px; font-weight: bold; color: #f2f2f2; margin-top: -14px; margin-left: 27px;">10:00 PM</p></div> -->

            {{ form.datecount }}

            <input type="submit" class = "genEventButt" id = "Generate Event" value="Generate Event">
        </form>

    </div>
</div>

<div>&nbsp;</div> <div>&nbsp;</div>

		<script>

			var today = new Date();
			today = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0, 0);

			var hover = false;		// state if hovering
			var addDate = false;	// state if adding dates

			var col = -1;
			var row = -1;

			var startCol = -1;
			var startRow = -1;

			var tBody = document.querySelector("tbody");

			let dates = []
			let counter = 0;
			let blanks = 0;
			let date = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0, 0);
			for (let row = 1; row < 6; row++){
				let week = tBody.appendChild(document.createElement("tr"));
				week.classList.add("week");
				let month = week.appendChild(document.createElement("td"));
				month.classList.add("month")
				month.innerText = date.toString().slice(4, 7)
				for (let col = 1; col < 8; col++){
					let day = week.appendChild(document.createElement("td"));
					day.id = "row" +  row + "-col" + col;

					if (col - 1 !== date.getDay()){
						blanks++
						day.classList.add("blank")
						continue;
					}
					day.innerText = date.getDate();
					day.classList.add("white");

					dates.push(day);
					date.setDate(date.getDate() + 1);
				}
			}
			
			// loop through all dates and add event handlers
			for (i = 0; i < dates.length; i++){
				const child = dates[i];
				let temp = new Date(today);
				temp.setDate(temp.getDate() + i);
			
				// handler for click
				child.addEventListener("mousedown", (event) => {
					console.log("hi")
					hover = true;
					
					startCol = parseInt(child.id[8]);
					startRow = parseInt(child.id[3]);

					col = child.id[8];
					row = child.id[3];

					if (child.classList.contains("white")){
						addDate = true;
						child.classList.add("yellow-expand");
					}
					else{
						addDate = false;
						child.classList.add("white-expand");
					}
				})

				// handler after click
				child.addEventListener("mouseup", (event) => {
					hover = false;
					if (addDate){
						document.querySelectorAll(".yellow-expand").forEach(
							function(element){
								element.classList.remove("yellow-expand");
								element.classList.remove("white");
							}
						);

						recolor(row, col, "yellow");
					}
					else{
						document.querySelectorAll(".white-expand").forEach(
							function(element){
								element.classList.remove("white-expand");
								element.classList.remove("yellow");
							}
						);
						recolor(row, col, "white")
					}
				})

				// handler for moving 
				child.addEventListener("mousemove", (event) => {
					let prevCol = col;
					let prevRow = row;

					col = parseInt(child.id[8]);
					row = parseInt(child.id[3]);

					if(hover && (prevCol != col || prevRow != row)){
						if (addDate){
							document.querySelectorAll(".yellow-expand").forEach(
								function(element){
									element.classList.remove("yellow-expand");
								}
							);
							recolor(row, col, "yellow-expand");	
						}
						else{
							document.querySelectorAll(".white-expand").forEach(
								function(element){
									element.classList.remove("white-expand");
								}
							);
							recolor(row, col, "white-expand")
						}
					}
				})
			}



			// handler after click
			document.body.addEventListener("mouseup", (event) => {
				if (hover == true){
					hover = false;
					if (addDate){
						document.querySelectorAll(".yellow-expand").forEach(
							function(element){
								element.classList.remove("yellow-expand");
								element.classList.remove("white");
							}
						);
						recolor(row, col, "yellow");
					}
					else{
						document.querySelectorAll(".white-expand").forEach(
							function(element){
								element.classList.remove("white-expand");
								element.classList.remove("yellow");
							}
						);
						recolor(row, col, "white")
					}
				}
			});

			function recolor(row, col, className){
				let i, j, maxi, maxj;
				let color;

				if(startCol < col){
					j = startCol;
					maxj = col;
				}
				else{
					j = col;
					maxj = startCol;
				}


				if(startRow < row){
					i = startRow;
					maxi = row;
				}
				else{
					i = row;
					maxi = startRow;
				}

				for(; i <= maxi; i++){
					temp = j; 
					for (; j <= maxj; j++){
						color = document.querySelector("#row" + i  + "-col" + j);
						if (color.classList.contains("blank")){
							continue;
						}

						color.classList.add(className);
					}
					j = temp;
				}
			}

			var form = document.querySelector("form");

			// post request but with the dates as hidden inputs 
			form.onsubmit = function customSubmit(){
				
				var yellowElements = document.querySelectorAll(".yellow");
        
        		let i = 0;
        		let date;
				for (object of yellowElements){
					col = object.id[8];
					row = object.id[3];
					
					newInput = document.createElement("input");
					newInput.setAttribute("type", "hidden");
					newInput.setAttribute("name", "date_" + i);

          			date = new Date(today.valueOf() + ((col - 1) * 24*3600*1000) + ((row - 1) * 7*24*3600*1000) - (blanks * 24*3600*1000));

					console.log(date)

					newInput.setAttribute("value", `${date.getDate()}-${date.getMonth() + 1}-${date.getFullYear()}`);

					form.appendChild(newInput);
          			i++;
				}

        		document.querySelector("#id_datecount").setAttribute("value", i);
				
				form.submit();
			}


		</script>

{% endblock %}
