{% extends 'base.html' %}
{% load static %}

{% block content %}

<div style = "text-align: center; padding-bottom: 0; margin: 0; "><img id = "logo" style = "margin: 0; padding: 0;" src = "{% static 'logo.png' %}" width = "710.35px" height = "440.45px"></div>

<div class = "container1" styles = "margin-top: 0; padding: 0;">
    <div><img style = "left: 2.3%; position: absolute;" src = "{% static 'bookmark-horizontal.png' %}"width = "945.35px" height = "695.35px"></div>
    <div style = "margin-left: 1035.35px;">
        <div>
            <p style = "margin: 0%; padding: 0%;  font-family: Poppins_bold; font-size: 105px; font-weight: 100;">Find the</p>
            <p style = "margin: 0%; padding: 0%; line-height: 78.35%; font-family: Poppins_bold; font-size: 105px; font-weight: 100;">Right Time</p>
            <br>
            <p style = "margin-right: 35.35%; text-align: justify; line-height: 135%; font-family: Montserrat;">Lorem ipsum corporis aut quod voluptas. Sit officia voluptatum qui galisum expedita et nihil omnis eos Quis velit aut voluptates debitis qui Quis molestias qui Adrian and Fort was here </p>
            
            <ul class = "wrapper">
                <li class="icon question">
                    <span class="tooltip">Generate your own meeting link based on your own availability!</span>
                    <span><p style="font-size: larger;">?</p></span>
                </li>
            </ul>
            
            <div>
                <a href="{% url 'event' %}"><button class = "genButt" type = "button" id = "Create Event Home">Create Event</button></a>
            </div>
            <div style = "list-style-type: none; margin-top: 40px; padding: 0; width: 38%; background-color: #F9D36D; position: absolute; height: 1%; box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.3);"></div>
        </div>
    </div>
</div>

<div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div>
    <div style = "list-style-type: none; margin: auto; width: 447px; height: 215px; background-color:rgb(255, 255, 255); text-align: center;"> </div>
    <div>&nbsp;</div>
    
    <div style = "background-color:#333333; margin: auto; height: 775px; box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.3);">
        <div><img style = "left: -0.15%; position:absolute; margin-top: 0.75%; z-index: 1;" src = "{% static 'vector-man.png' %}" height = "700.35px"></div>
        <div style = "margin-left: 235.35px; left: 25%;">
            <div>
                <br> <br>
                <p style = "margin: 0%; padding-left: 5%; font-family: Poppins_bold; text-align: center; font-size: 64px; color:rgb(255, 255, 255)" id = "About Us"> ABOUT US</p>
                <p style = "margin-left: 14%; margin-right: 5%; font-family: Montserrat_extralight; text-align: justify; color:#ffffff; font-size: 36px;"> Lorem ipsum dolor sit amet. Qui autem molestiae aut quos tempora eum consequuntur corporis et quos provident ex vero corporis aut quod voluptas. Sit officia voluptatum qui galisum expedita et nihil omnis eos Quis velit aut voluptates debitis qui Quis molestias qui dolor nulla. Lorem ipsum dolor sit amet. Qui autem molestiae aut quos tempora eum Quis molestias qui dolor nulla. Lorem ipsum dolor sit amet. Qui autem molestiae aut quos tempora eum Quis molestias qui dolor nulla. Lorem ipsum dolor si Lorem ipsum dolor sit amet. Qui autem molestiae aut quos tempora eum Quis molestias qui dolor nulla. Lorem ipsum dolor si Lorem ipsum dolor sit amet.</p>
                <br>
                <div style = "margin-left: 36.5%;">
                    <button class = "learnButt" type = "button" id = "Learn More About Us"> Learn More</button>
                </div>
            </div>
        </div>
        <div><img style = "position:absolute; margin-left: -0.4%; margin-top: -0.10%; width: 389px; height: 72px" src = "{% static 'ellipse.png' %}"></div>
    </div>
    
<div>&nbsp;</div> <div>&nbsp;</div>

{% endblock %}