
   
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div><img style = "margin-right: 0; right: 0px; position: absolute; z-index: 10;"  src = "{% static 'rightBorder.png' %}" width="780.35px" height="350.45px"></div> <!-- triangular border -->
<div class = "row">
    <div class = "column">
        <img style = "left: -2%; margin-left: 0; padding-left: 0;" src = "{% static 'logo.png'  %}" width = "510.35px" height = "320.45px">
        <div class = "calendar" style = "margin-left: 15%; max-width: 650px;" >
            <div class = "month" style = "text-align: center; padding: 10px;">
                <h2>{{ month }} {{ year }}</h2>
            </div>
            <table class = "days" style = "text-align: center; margin-top: 15px; margin: 15px; font-size: large;" >
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Sun</th>
                        <th>
                            Mon</th>
                        <th>
                            Tue</th>
                        <th>
                            Wed</th>
                        <th>
                            Thu</th>
                        <th>
                            Fri</th>
                        <th >
                            Sat</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div>
        <p style = "margin-top: 5%; font-family: Poppins_bold; margin-bottom: -4px; margin-left: 20%;">To invite people to this event, you can email them, send them a Facebook message, or just direct them to https://www.cfscheduler.com/?19114005-123</p>
        <div><img style = "margin-left: 0; right: 0px; z-index: 10; width: 100%"  src = "{% static 'bookmark-horizontal.png' %}"></div>
    
        
    </div>
    
    <div class = "column">
        <div style = "left: 500px; list-style-type: none; margin-top: 135px; padding: 0; width: 60%; background-color: #F9D36D; position: absolute; height: 1%; box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.3);"></div>
        
        <!-- <div class = "time-stack">
            <div>&nbsp;</div> <div>&nbsp;</div>
            <div class = "time-row">
                <span class = "time">01:00 - 02:00</span>
                <input type = "button" class = "bookButt" value = "book">
            </div>
            <div class = "time-row">
                <span class = "time">02:00 - 03:00</span>
                <input type = "button" class = "bookButt" value = "book">
            </div>
            <div class = "time-row">
                <span class = "time">03:00 - 04:00</span>
                <input type = "button" class = "bookButt" value = "book">
            </div>
        </div> -->

        <div class="time-stack">
        </div>
        {% if success %}<div class = "popup-invitee">Google Calendar invites sent successfully</div>{% endif %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        <input type = "button" id="confirm-button" class = "lockButt hidden" value = "Confirm Schedule" onclick="confirm()">

        <div class = "login-stack hidden">
            <div>&nbsp;</div> <div>&nbsp;</div> <div>&nbsp;</div> 
            <button class = "back-button"><i class = "fa fa-arrow-left"></i> Back</button>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form.schedule_id }}
                <div id="final-schedule"> </div>
                <div>
                    {{ form.name }}
                </div>
                <div>
                    {{ form.email }}
                </div>
                <div>
                    {{ form.message }}
                </div>
                {{ form.errors }}
                <input style = "margin-left: 0px; margin-top: 90px;" type="submit" class="lockButt" value="Book Appointment">
            </form>
	    </div>
        <img src = "{% static 'robot.png' %}" style = "position: absolute; height: 627px; bottom: -670px; right: 0px; z-index: 0;">
    </div>
</div>

<script>
    var today = new Date();
    today = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 8, 0, 0, 0);
    const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    var year = "{{ year|escapejs }}";

    var schedules = "{{ schedules|escapejs }}".split(".");

    schedules = schedules.map(function(scheduleObjectString){
        let scheduleObject = JSON.parse(scheduleObjectString);
        return {'start' : new Date(scheduleObject['start']), 'end' : new Date(scheduleObject['end']), 'id' : scheduleObject['id'] };
    });

    var tBody = document.querySelector("tbody");

    let dates = []
    let counter = 0;
    let blanks = 0;
    let date = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0, 0);
    for (let row = 1; row < 6; row++){
        let week = tBody.appendChild(document.createElement("tr"));
        week.classList.add("week");
        let month = week.appendChild(document.createElement("td"));
        month.classList.add("month")
        month.innerText = date.toString().slice(4, 7)
        for (let col = 1; col < 8; col++){
            let day = week.appendChild(document.createElement("td"));
            day.id = "row" +  row + "-col" + col;

            if (col - 1 !== date.getDay()){
                blanks++
                day.classList.add("blank")
                continue;
            }
            day.innerText = date.getDate();

            dates.push(day);
            date.setDate(date.getDate() + 1);
        }
    }

    let diff, col, row, calendarElement;
    let timeStack = document.querySelector(".time-stack");
    let loginStack = document.querySelector(".login-stack");

    let confirmButton = document.querySelector("#confirm-button");

    let index = 0, i = 0;
    let containerMapping = {};

    let scheduleInput = document.querySelector("#id_schedule_id");
    let finalSchedule = document.querySelector("#final-schedule");
    for (let schedule of schedules){
        let start = schedule['start'];
        let end = schedule['end'];
        let id = schedule['id']

        diff = (new Date(start.getFullYear(), start.getMonth(), start.getDate(), 8, 0, 0, 0).valueOf() - today.valueOf() + (blanks * 24*3600*1000)) / (24 * 3600 * 1000);

        row = Math.floor(diff / 7) + 1;
        col = diff % 7 + 1; 
        
        calendarElement = document.querySelector("#row" + row  + "-col" + col);

        calendarElement.classList.add("yellow");
        
        let dateString = start.toString().slice(4,15);
        
        let timeContainerIndex, timeContainer;
        if (dateString in containerMapping){
            timeContainerIndex = containerMapping[dateString];
            timeContainer = document.querySelector("#time-container" + timeContainerIndex);
        }
        else{
            containerMapping[dateString] = index;
            timeContainer = document.createElement("div");
            timeContainer.id = "time-container" + index;
            timeContainer.className = "time-container";
            timeContainer.innerHTML = dateString;

            timeStack.appendChild(timeContainer);
            index++;
        }
        
        let timeRow = document.createElement("div");
        timeRow.classList.add('time-row');

        let timeLabelContainer = document.createElement("span");
        timeLabelContainer.classList.add("time");
        timeLabelContainer.innerText = start.toString().slice(16,21) + " - " + end.toString().slice(16,21);

        let bookButton = document.createElement("button");
        bookButton.innerText = "Book appointment";
        bookButton.value = schedule.id;
        bookButton.type = "button";
        bookButton.classList.add("bookButt");

        timeRow.id = `row${i}-container${index}`;

        timeRow.appendChild(timeLabelContainer);
        timeRow.appendChild(bookButton);

        timeContainer.appendChild(timeRow);

        bookButton.addEventListener("click", function(){
            document.querySelectorAll("button").forEach(function(button){
                button.style = "";
            });

            confirmButton.classList.remove("hidden");
            bookButton.style = "background-color : #333333; color:#FFC31D;";
            scheduleInput.value = id;
            finalSchedule.innerText = start.toString().slice(4,21) + " - " + end.toString().slice(4,21);                  
        })

        let backButton = document.querySelector(".back-button");
        backButton.addEventListener("click", () => {
            document.querySelectorAll("button").forEach(function(button){
                button.style = "";
            });

            timeStack.classList.remove("hidden");
            loginStack.classList.add("hidden");
        })

        calendarElement.addEventListener("click", function(){
            document.querySelectorAll(".time-container").forEach(
                function(element){
                    element.style.visibility = "hidden";
                }
            );

            timeContainer.style.visibility = "visible";
        })

        i++;

        function confirm(){
            timeStack.classList.add("hidden");
            confirmButton.classList.add("hidden");

            loginStack.classList.remove("hidden");
        }
    }

</script>
{% endblock %}
