
   
{% extends 'base.html' %}
{% load static %}

{% block content %}
<div><img style = "margin-right: 0; right: 0px; position: absolute; z-index: 10;"  src = "{% static 'rightBorder.png' %}" width="780.35px" height="350.45px"></div> <!-- triangular border -->
<div class = "row">
    <div class = "column">
        <img style = "left: -2%; margin-left: 0; padding-left: 0;" src = "{% static 'logo.png'  %}" width = "510.35px" height = "320.45px">
        <div class = "calendar" style = "margin-left: 15%; max-width: 650px;" >
            <div class = "month" style = "text-align: center; padding: 10px;">
                <h2>{{ month }} {{ year }}</h2>
            </div>
            <table class = "days" style = "text-align: center; margin-top: 15px; margin: 15px; font-size: large;" >
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Sun</th>
                        <th>
                            Mon</th>
                        <th>
                            Tue</th>
                        <th>
                            Wed</th>
                        <th>
                            Thu</th>
                        <th>
                            Fri</th>
                        <th >
                            Sat</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        </p>
    
        
    </div>
    
    <div class = "column">
        <div style = "left: 500px; list-style-type: none; margin-top: 135px; padding: 0; width: 60%; background-color: #F9D36D; position: absolute; height: 1%; box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.3);"></div>
        
        <!-- <div class = "time-stack">
            <div>&nbsp;</div> <div>&nbsp;</div>
            <div class = "time-row">
                <input type = "button" class = "time-button" value = "01:00 - 02:00">
                <span class = "name-container">Serge</span>
            </div>
            <div class = "time-row">
                <input type = "button" class = "time-button" value = "02:00 - 03:00">
                <span class = "name-container">Serge</span>
            </div>
            <div class = "time-row">
                <input type = "button" class = "time-button" value = "03:00 - 04:00">
                <span class = "name-container">Serge</span>
            </div>
        </div> -->

        <div class="time-stack">

        </div>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.schedulecount }}

            <p style= "margin-top: 5%; font-family: Poppins_bold; margin-left: 10%; font-size: x-large;">Meeting Details:</p>
            {{ form.meeting_details }}
            <p style = "margin-top: 5%; font-family: Poppins_bold; margin-left: 10%;">To invite people to this event, you can email them, send them a Facebook message, or just direct them to <a href="http://{{ share_link }}"> {{ share_link }} </a>

            {% if form.errors%} 
                <div class = 'popup-inviter'>{{ form.errors }}</div>
            {% endif %} 
            {% if success %}<div class = 'popup-inviter' style = "text-align: center;">Schedules saved successfully</div>{% endif %}

            <input style = "margin-left: 200px; margin-bottom: 50px;" type="submit" class="lockButt" value="Lock Schedule">
        </form>
    </div>
</div>

<script>
    var today = new Date();
    today = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 8, 0, 0, 0);
    const months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
    var year = "{{ year|escapejs }}";
    var inviterName = "{{ inviter_name|escapejs }}";

    var availableDates = "{{ available_dates|escapejs }}".split(",");
    var existingSchedules = "{{ existing_schedules|escapejs }}".split(",");

    if (existingSchedules[0] === "") existingSchedules.pop();

    // convert strings to date objects
    availableDates = availableDates.map(function(date){
        return new Date(date);
    });

    existingSchedules = existingSchedules.map(function(datetime){
        return new Date(datetime);
    });

    console.log(availableDates)

    let availableTimes = "{{ available_times|escapejs }}".split(",")

    let diff, col, row, calendarElement;
    let timeStack = document.querySelector(".time-stack");

    var tBody = document.querySelector("tbody");

    let dates = []
    let counter = 0;
    let blanks = 0;
    let date = new Date(today.getFullYear(), today.getMonth(), today.getDate(), 0, 0, 0, 0);
    for (let row = 1; row < 6; row++){
        let week = tBody.appendChild(document.createElement("tr"));
        week.classList.add("week");
        let month = week.appendChild(document.createElement("td"));
        month.classList.add("month")
        month.innerText = date.toString().slice(4, 7)
        for (let col = 1; col < 8; col++){
            let day = week.appendChild(document.createElement("td"));
            day.id = "row" +  row + "-col" + col;

            if (col - 1 !== date.getDay()){
                blanks++
                day.classList.add("blank")
                continue;
            }
            day.innerText = date.getDate();

            dates.push(day);
            date.setDate(date.getDate() + 1);
        }
    }

    let index = 0;
    dates =[];
    for (let day of availableDates){
        diff = (day.valueOf() - today.valueOf() + (blanks * 24*3600*1000)) / (24 * 3600 * 1000);
        row = Math.floor(diff / 7) + 1;
        col = diff % 7 + 1; 
        
        dates.push(day.toString().slice(4,15));
        
        console.log(col)

        calendarElement = document.querySelector("#row" + row  + "-col" + col);
        calendarElement.classList.add("yellow");
        
        let timeContainer = document.createElement("div");
        timeContainer.id = "time-container" + index;
        timeContainer.className = "time-container";
        timeContainer.innerHTML = day;

        for (let i = 0; i < availableTimes.length - 1; i++){
            let timeRow = document.createElement("div");
            let nameContainer = document.createElement("span");
            nameContainer.classList.add("name-container")
            timeRow.classList.add("time-row");

            let timeButton = document.createElement("input");
            timeButton.classList.add("time-button")

            timeButton.value = availableTimes[i] + " - " + availableTimes[i + 1];
            timeButton.type = "button";

            timeRow.id = `row${i}-container${index}`;

            timeRow.appendChild(timeButton);
            timeRow.appendChild(nameContainer);
        
            timeButton.addEventListener("click", function(){
                if (timeButton.classList.contains("available")){
                    nameContainer.innerText = "";
                    timeButton.classList.remove("available");
                }
                else{
                    nameContainer.innerText = inviterName;
                    timeButton.classList.add("available");                    
                }
            })
            
            timeContainer.appendChild(timeRow);
        }
        timeStack.appendChild(timeContainer)

        calendarElement.addEventListener("click", function(){
            document.querySelectorAll(".time-container").forEach(
                function(element){
                    element.style.visibility = "hidden";
                }
            );

            timeContainer.style.visibility = "visible";
        })

        index++;
    }
    
    let dateIndex, timeIndex, timeRow, timeButton, nameContainer
    for(let index = 0; index < existingSchedules.length; index++){
        console.log(existingSchedules[index].toString())
        existingDate = existingSchedules[index].toString().slice(4, 15);
        existingTime = existingSchedules[index].toString().slice(16, 21);

        console.log(existingDate);
        console.log(existingTime);

        dateIndex = dates.indexOf(existingDate);
        timeIndex = availableTimes.indexOf(existingTime)


        timeRow = document.querySelector(`#row${timeIndex}-container${dateIndex}`);
        
        console.log(timeRow)

        timeButton = timeRow.childNodes[0];
        nameContainer = timeRow.childNodes[1];

        timeButton.className = "available time-button";
        nameContainer.innerText = inviterName;
    }


    var form = document.querySelector("form");

    form.onsubmit = function customSubmit(){


        let schedule, time, hours, minutes;
        let i = 0;
        for(let index = 0; index < availableDates.length;index++){
            availableElements = document.querySelectorAll(`#time-container${index} .available`);
            for (let element of availableElements){
                newInput = document.createElement("input");
                newInput.setAttribute("type", "hidden");
                newInput.setAttribute("name", "schedule_" + i);

                time = element.value.slice(0,5)

                day = availableDates[index].getDate();

                month = months[availableDates[index].getMonth()];

                schedule = `${month} ${day} ${year} ${time}:00`
                i++;

                console.log(schedule)
                
                newInput.setAttribute("value", schedule);

                form.appendChild(newInput);
            }
        }

        document.querySelector("#id_schedulecount").setAttribute("value", i);
        
        form.submit();
    }
</script>

{% endblock %}
