{% extends 'base.html' %}
{% load static %}


<link rel="stylesheet" href="{% static 'login.css' %}">
{% block stylesheet %}
{% endblock %}

{% block content %}

<div class = "row" style = "overflow-y: visible;"> <!--textboxes-->
    <div class = "column" style = "height: max-content;">
        <img style = "left: -2%; float: left; margin-left: 0; padding-left: 0; top: 0; margin-bottom: -40.5% ;" src = "{% static 'bookmark-vertical.png' %}" width = "695.35px" height = "945.35px">
        <img style = "left: 18%; top: 20.1%; float: left; margin-left: 0; padding-left: 0; z-index: 1; position: relative; margin-bottom: -5%;" src = "{% static 'working-man.png' %}" width = "520px" height = "850px">
    </div>
    <div class = "column">
        <form action="" method="POST">
            {% csrf_token %}

            <img id = "logo" style = "margin-top: 100px; margin-right: 200px; margin-left: 0;" src = "{% static 'logo.png' %}" width = "710.35px" height = "440.45px">
            <div style = "left: 750px; list-style-type: none; margin-top: 35px; padding: 0; width: 58%; background-color: #F9D36D; position: absolute; height: 1%; box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.3);"></div>
            <input style = "width: 500px; height: 80px; text-align: center; border-radius: 40px; box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.3); margin-top: 90px; margin-left: 114px; font-family: Poppins_bold; font-size: 40px;" placeholder = "{{ event_name }}" readonly> <!--put placeholder here-->
            {{ form.email.errors }}
            {{ form.email }}

            {{ form.name.errors }}
            {{ form.name }}

            {{ form.password.errors }}
            {{ form.password }}
            
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <input type="submit" class = "genButtSign" class = "genButtSign" id = "Create Event Home" value="Sign In">
            </a>
        </form>

            
    </div>
</div>

{% endblock %}