{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}

<div class = "row" style = "overflow-y: visible;"> <!--textboxes-->
    <div class = "column" style = "height: max-content;">
        <img style = "left: -2%; float: left; margin-left: 0; padding-left: 0; top: 0; margin-bottom: -40.5% ;" src = "{% static 'bookmark-vertical.png' %}" width = "695.35px" height = "945.35px">
        <img style = "left: 18%; top: 20.1%; float: left; margin-left: 0; padding-left: 0; z-index: 1; position: relative; margin-bottom: -5%;" src = "{% static 'working-man.png' %}" width = "520px" height = "850px">
    </div>
    <div class = "column">
        <img id = "logo" style = "margin-top: 100px; margin-right: 200px; margin-left: 0;" src = "{% static 'logo.png' %}" width = "710.35px" height = "440.45px">
        <div style = "left: 750px; list-style-type: none; margin-top: 35px; padding: 0; width: 58%; background-color: #F9D36D; position: absolute; height: 1%; box-shadow: 0 10px 4px 0 rgba(0, 0, 0, 0.3);"></div>
        <input style = "width: 500px; height: 80px; text-align: center; border-radius: 40px; box-shadow: 4px 6px 5px 0 rgba(0, 0, 0, 0.3); margin-top: 90px; margin-left: 114px; font-family: Poppins_bold; font-size: 40px;" placeholder = "Event Name" readonly> <!--put placeholder here-->
        <input class = "text" style= "margin-top: 7%; font-weight: bolder;" name = "fname" value = "Email: " placeholder="cf/scheduler@gmail.com">
        <input class = "text" style= "margin-top: 2%; font-weight: bolder;" name = "fname" value = "Name: " placeholder="Fort was here">
        <input class = "password" style= "margin-top: 2%; font-weight: bolder;" name = "fname" value = "Password: " placeholder="*******">
        <button class = "genButtSign" type = "button" id = "Create Event Home">Sign In</button>

            
    </div>
</div>

{% endblock %}